.tocenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
    padding: 20px;
}

.tocenter input {
    border: 1px solid;
    border-radius: 4px; 
    padding: 10px;
    width: auto;
}

.tocenter button{
    background-color: #000000;
    color: #fff;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    width: 100px;
    margin-top: 30px;
    align-self: center;
}

.order-tableContainer{
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Align items at the top */
    margin-top: 15px; 
}

.order-table{
    border-collapse: separate;
    border-spacing: 25px; 
}

.order-table th {
    padding: 10px; /* Adjust the value to control the space inside each cell */
    border: 1px solid #ddd; /* Add borders for better visibility */
}

.order-table tbody tr:hover {
    background-color: #f2f2f2; /* Change the color to your desired hover color */
}

.order-tableContainer button{
    background-color: #000000;
    color: white;
    height: 40px;
    transition: background-color 0.3s ease; /* Add a smooth transition effect */
}

.order-tableContainer button:hover {
    background-color: #cb2929dd;
}

.orderdetail-tableContainer{
    justify-content: center;
    align-items: center; /* Align items at the top */
    margin-top: 15px; 
    margin-left: 20px;
    margin-right: 20px;
}

.orderdetail-table{
    border-collapse: collapse;
    border-spacing: 25px; 
    width: 100%;
}

.orderdetail-table th {
    padding: 8px;
    border: 1px solid #ddd; /* Add borders for better visibility */
    text-align: left;
    background-color: #000000;
    color: white;
}

.orderdetail-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left; /* Adjust text alignment if needed */
    font-size: 14px; /* Adjust font size if needed */
}

.orderdetail-table tbody tr:hover {
    background-color: #f2f2f2; /* Change the color to your desired hover color */
}

.custom-select-container {
    margin-top: 15px;
    position: relative;
    display: inline-block;
}

.custom-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 8px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    cursor: pointer;
    width: 250px; /* Adjust the width as needed */
    margin-left: 10px;
    background-color: #000000;
    color: white;
}

.custom-select:active, .custom-select:focus {
    outline: none;
    border-color: black;
}

.dropdown-icon {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    pointer-events: none;
    color: white;
}
  