.center-table {
    margin: 0 auto; /* Horizontally center the table */
}

.center-text {
    text-align: center; /* Center the text within the table cells */
}
  
  /* last minute css */
  .card {
    width: 100%; 
    margin-bottom: 20px;
  }
  .card p {
    margin-left: 10px;
  }

  .FAQ
  {
    text-align: center;
    font-size: 23px;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 20;
  }
